{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block css_files %}{% endblock css_files %}
    <link rel="stylesheet" href="{% static 'app.css' %}">
    <title>{% block page_title %}Мой блог{% endblock page_title %}</title>
</head>
<body>
    <header id="main-navigation">
        <h1><a href="{% url 'index-page' %}">Блог Сергеевых</a></h1>
        <nav>
            <a href="{% url 'posts-page' %}">Все посты</a>
        </nav>
    </header>

    {% block content %}{% endblock content %}
</body>
</html>